<div class='row blank-slate text-center'>
  <div class="small-12 columns">
    <p>You don't have any todo items in this list yet!</p>
    <%= link_to 'Add New', new_todo_list_todo_item_path(todo_list), class: 'button large' %>
  </div>
</div>
