<%= render partial: 'fork_me_on_github' %>

<div class='row collapse'>
  <div class='small-10 small-centered columns hero'>
    <div class='row'>
      <div class='small-12 small-centered medium-6 medium-uncentered large-10 columns end hero-inner'>
        <h2>Simple Todo lists for everyone.</h2>
        <%= link_to 'Sign Up', sign_up_path, class: 'button large' %>
      </div>
    </div>
  </div>
</div>
