/* Helper classes */

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.help-text, 
.error label,
.error input {
  color: $red;
}

.error input:focus {
  color: $purple;
}
