/* Helper classes */

.hide-text {
  overflow: hidden;

  white-space: nowrap;
  text-indent: 100%;
}

.truncate {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.help-text {
  display: block;

  text-align: center;
}

.help-text,
.error label,
.error input {
  color: $red;
}

.error input:focus {
  color: $blue;
}

.clear {
  clear: both;
}

.centered {
  display: block;

  margin-right: auto;
  margin-left: auto;
}

.row .row {
  margin: 0;
}

.close-button {
  outline: none;
}
