/* Header styles */

.header-icon {
  padding: 1.5em 0.25em;
}

.logo {
  font-size: 2.5rem;

  margin: 0.4em 0;

  a {
    display: block;

    height: 34px;

    background: transparent url(asset_path(#{"logo-odot.svg"})) no-repeat center center;
    background-size: contain;
  }
}

.page-title {
    font-size: 1.5rem;

    padding: .5em;

    cursor: default;
    text-align: center;

    color: $white;
    background: $main;
}

.nav {
  margin-bottom: 20px;
  padding: 10px 0 0 5px;

  border-bottom: 1px solid $grey;

  h1 {
    float: left;

    margin-right: 1em;
  }

  a {
    text-decoration: none !important;
  }

  ul {
    float: left;
    clear: right;

    margin-left: 1em;
    padding: 0;

    list-style: none;

    li {
      float: left;

      a {
        display: block;

        width: auto;
        padding: 8px 10px;

        color: $grey;
        background: $white;

        &:hover {
          color: $white;
          background: $grey;
        }
      }
    }
  }
}
