/* Header styles */

.header-icon {
  padding: 1.5em 0.25em;
}

.logo {
  margin: 0.4em 0;
  font-size: 2.5rem;

  a {
    background: transparent url(asset_path(#{"logo-odot.svg"})) no-repeat center center;
    background-size: contain;
    display: block;
    height: 34px;
  }
}

.page-title {
  background: $orange;
  color: #fff;
  text-align: center;
  padding: 0.5em;
  font-size: 1.5rem;
}

.nav {
  border-bottom: 1px solid #aaa;
  margin-bottom: 20px;
  padding: 10px 0 0 5px;

  h1 {
    float: left;
    margin-right: 1em;
  }

  a {
    text-decoration: none !important;
  }

  ul {
    float: left;
    list-style: none;
    clear: right;
    margin-left: 1em;
    padding: 0;

    li {
      float: left;

      a {
        display: block;
        width: auto;
        padding: 8px 10px;
        background: #eee;
        color: #aaa;

        &:hover {
          background: #aaa;
          color: #eee;
        }
      }
    }
  }
}
