/* Todo Items styles */

.todo-items li {
  margin: 1em 0;
  padding-bottom: 3em;
}

.checked, .unchecked {
  background-color: $main;
  border-radius: 100%;
  background-size:  70%;
}

.checkmark {
  padding: 0;

  a {
    margin-left: 0.9375rem;
    margin-top: 10px;
  }
}

.todo-content {
  margin-top: 6px; 
}

.unchecked {
  background-image: none;
}

#todo-list-functions {
  margin-top: 10px;
  display: none;

  a span.fa {
    display: block;
    margin-bottom: 5px;
    font-size: 1.4em;
    clear: both;
  }
}

.fa-caret-down,
.fa-caret-up {
  position: absolute;
  right: 26px;
  top: 0;
  color: $white;
  padding-top: 20px;
}

.todo-list-title {
  background: $main;

  h2 {
    margin: 0;
  }

  div {
    position: relative;
  }
}

#email-modal {
  form {
    margin-top: 1.5em;
  }
}
