<div class='small-4 columns header-icon'>
  <% if go_back_link_to %>
    <%= link_to go_back_link_to, title: 'Back' do %>
      <span class='fa fa-arrow-left'></span>
    <% end %>
  <% else %>
    <%= link_to sign_out_path, method: :delete, title: 'Sign Out', class: 'sign_out' do %>
      <span class='fa fa-sign-out'></span>
    <% end %>
  <% end %>
</div>

<div class='small-4 columns'>
  <h1 class='logo'><%= link_to 'Od-ot', todo_lists_path, class: 'hide-text' %></h1>
</div>

<div class='small-4 columns header-icon'>
  <%= new_item_link %>
</div>
